<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @linha_item.product %>
</p>

<p>
  <strong>Carrinho:</strong>
  <%= @linha_item.carrinho %>
</p>

<%= link_to 'Edit', edit_linha_item_path(@linha_item) %> |
<%= link_to 'Back', linha_items_path %>
