<% if notice %>
	<p id= "notice"><%= notice %></p>
<% end %>
<h1>Carrinho</h1>

<table class="table">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Preco und</th>
	  <th>Quantidade</th>
	  <th>Total</th>
      <th colspan="3">Aumentar Qtd</th>
    </tr>
  </thead>

  <tbody>
	<% @carrinho.linha_items.each do |item| %>
		<tr>
			<td><%= image_tag item.product.avatar.url(:thumb) %></td>
			<td><%= item.product.titulo %></td>
			<td><%= item.product.descricao %></td>
			<td><%= number_to_currency (item.product.preco) %></td>
			<td><input name="linha_item[quantidade]" value=<%= item.quantidade %> type="int" maxlenght="10" style="border: none;" /></td>
			<td><%= number_to_currency (item.item_total) %></td>
			<td>
				<form action="/linha_items?product_id=<%= item.product.id %>" class="button_to" method="post">
					<div>
						<input class="imgButton_quantidade" title="Aumentar quantidade" type="submit" value="">
						<input name="authenticity_token" type="hidden" value="ZuiEm+DtE5RtkfGZg1cLnVpezu8AlQLiM3swb5W+mKg=">
					</div>
				</form>
			</td>
		</tr>
	<% end %>
  </tbody>
</table>
<p>TOTAL DA COMPRA:<b> <%=number_to_currency(@carrinho.preco_total) %></b></p>
<%= button_to '', @carrinho, :class => "imgLimparCarrinho", :title => 'Limpar Carrinho', method: :delete, data: {confirm: 'Você tem certeza?'} %>
<br>