<%= form_for(@product, :html => { :multipart => true, :class => 'form-horizontal' }) do |f|  %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "erro") %> encontrado(s)</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :preco %><br>
    <%= f.text_field :preco, :class => 'form-control' %>
  </div>
  
 <div class="field">
    <%= f.file_field :avatar, :class => 'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Cadastrar', :class => 'form-control' %>
  </div>
<% end %>
