<h1>Produtos cadastrados</h1>

<table class="table">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      	<td><%= image_tag product.avatar.url(:thumb) %></td>
        <td><%= product.titulo %></td>
        <td><%= product.descricao %></td>
        <td><%= number_to_currency (product.preco) %></td>
        <td><%= link_to 'Detalhes', product %></td>
        <td><%= link_to 'Alterar', edit_product_path(product)%></td>
        <td><%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Desesa excluir esse registr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar novo produto', new_product_path, class: "btn btn-large btn-primary" %> 
